workflows/izmir-bot.json
{
  "name": "n8n İzmir Workshop — Ana Bot",
  "nodes": [
    {
      "parameters": {
        "updates": ["message"],
        "additionalFields": {}
      },
      "id": "trigger",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1,
      "position": [240, 400],
      "webhookId": "izmir-bot-main",
      "credentials": {
        "telegramApi": {
          "id": "YOUR_TELEGRAM_CREDENTIAL_ID",
          "name": "Telegram Bot — Workshop"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.text.split(' ')[0] }}",
                    "rightValue": "/hava",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "hava"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.text.split(' ')[0] }}",
                    "rightValue": "/özet",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "ozet"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.text.split(' ')[0] }}",
                    "rightValue": "/baraj",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "baraj"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "switch",
      "name": "Switch (Komut)",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [500, 400]
    },
    {
      "parameters": {
        "url": "https://api.open-meteo.com/v1/forecast?latitude=38.4237&longitude=27.1428&current=temperature_2m,weathercode,windspeed_10m&timezone=Europe%2FIstanbul",
        "options": {}
      },
      "id": "http-hava",
      "name": "Open-Meteo (hava)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [760, 160]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "sendMessage",
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "=📍 İzmir Hava Durumu\n\n🌡 Sıcaklık: {{ $json.current.temperature_2m }}°C\n💨 Rüzgar: {{ $json.current.windspeed_10m }} km/s\n\nKaynak: Open-Meteo",
        "additionalFields": {}
      },
      "id": "send-hava",
      "name": "Send /hava",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [1020, 160],
      "credentials": {
        "telegramApi": {
          "id": "YOUR_TELEGRAM_CREDENTIAL_ID",
          "name": "Telegram Bot — Workshop"
        }
      }
    },
    {
      "parameters": {
        "url": "https://api.open-meteo.com/v1/forecast?latitude=38.4237&longitude=27.1428&current=temperature_2m,weathercode,windspeed_10m&timezone=Europe%2FIstanbul",
        "options": {}
      },
      "id": "http-ozet-hava",
      "name": "Open-Meteo (özet)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [760, 360]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent?key=YOUR_GEMINI_API_KEY",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ contents: [{ parts: [{ text: 'Şu bilgilere göre İzmir hava durumunu 2-3 kısa cümleyle özetle ve ne giyilmesi gerektiğini öner. Türkçe, samimi ton. Sıcaklık: ' + $json.current.temperature_2m + '°C, Rüzgar: ' + $json.current.windspeed_10m + ' km/s.' }] }] }) }}",
        "options": {}
      },
      "id": "http-gemini",
      "name": "Gemini API (özet üret)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1020, 360]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "sendMessage",
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.candidates[0].content.parts[0].text }}",
        "additionalFields": {}
      },
      "id": "send-ozet",
      "name": "Send /özet",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [1280, 360],
      "credentials": {
        "telegramApi": {
          "id": "YOUR_TELEGRAM_CREDENTIAL_ID",
          "name": "Telegram Bot — Workshop"
        }
      }
    },
    {
      "parameters": {
        "url": "https://openapi.izmir.bel.tr/api/izsu/barajdurum",
        "options": {}
      },
      "id": "http-baraj",
      "name": "İzmir Baraj API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [760, 560]
    },
    {
      "parameters": {
        "jsCode": "// İzmir'in 5 barajını formatlayıp tek mesaj yap\nconst barajlar = $input.all().map(item => item.json);\n\nconst mesaj = barajlar.map(b => {\n  const doluOran = b.DolulukOrani ? b.DolulukOrani.toFixed(1) : '?';\n  const emoji = b.DolulukOrani > 60 ? '🟢' : b.DolulukOrani > 30 ? '🟡' : '🔴';\n  return `${emoji} ${b.BarajKuyuAdi}: %${doluOran}`;\n}).join('\\n');\n\nconst tarih = barajlar[0]?.DurumTarihi?.split('T')[0] || 'bilinmiyor';\n\nreturn [{\n  json: {\n    mesaj: `💧 İzmir Baraj Dolulukları\\n${tarih}\\n\\n${mesaj}\\n\\nKaynak: İzmir Açık Veri`\n  }\n}];",
        "options": {}
      },
      "id": "code-baraj",
      "name": "Baraj Formatla",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1020, 560]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "sendMessage",
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.mesaj }}",
        "additionalFields": {}
      },
      "id": "send-baraj",
      "name": "Send /baraj",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [1280, 560],
      "credentials": {
        "telegramApi": {
          "id": "YOUR_TELEGRAM_CREDENTIAL_ID",
          "name": "Telegram Bot — Workshop"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "sendMessage",
        "chatId": "={{ $json.message.chat.id }}",
        "text": "={{ $json.message.text }}",
        "additionalFields": {}
      },
      "id": "send-echo",
      "name": "Echo (diğer mesajlar)",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [760, 760],
      "credentials": {
        "telegramApi": {
          "id": "YOUR_TELEGRAM_CREDENTIAL_ID",
          "name": "Telegram Bot — Workshop"
        }
      }
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [{ "node": "Switch (Komut)", "type": "main", "index": 0 }]
      ]
    },
    "Switch (Komut)": {
      "main": [
        [{ "node": "Open-Meteo (hava)", "type": "main", "index": 0 }],
        [{ "node": "Open-Meteo (özet)", "type": "main", "index": 0 }],
        [{ "node": "İzmir Baraj API", "type": "main", "index": 0 }],
        [{ "node": "Echo (diğer mesajlar)", "type": "main", "index": 0 }]
      ]
    },
    "Open-Meteo (hava)": {
      "main": [
        [{ "node": "Send /hava", "type": "main", "index": 0 }]
      ]
    },
    "Open-Meteo (özet)": {
      "main": [
        [{ "node": "Gemini API (özet üret)", "type": "main", "index": 0 }]
      ]
    },
    "Gemini API (özet üret)": {
      "main": [
        [{ "node": "Send /özet", "type": "main", "index": 0 }]
      ]
    },
    "İzmir Baraj API": {
      "main": [
        [{ "node": "Baraj Formatla", "type": "main", "index": 0 }]
      ]
    },
    "Baraj Formatla": {
      "main": [
        [{ "node": "Send /baraj", "type": "main", "index": 0 }]
      ]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "versionId": "izmir-bot-v1",
  "meta": { "instanceId": "n8n-izmir-workshop-2026" },
  "tags": [{ "name": "workshop-izmir-2026" }]
}
