workflows/ozet-bot.json
{
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "id": "dff21a1e-c4c2-4c69-bd0f-49e7ac56460f",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1,
      "position": [
        -64,
        -80
      ],
      "webhookId": "ozet-webhook",
      "credentials": {
        "telegramApi": {
          "id": "7unmv3lw0DosvVAg",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.text.split(' ')[0] }}",
                    "rightValue": "/hava",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "8a23e641-35d7-470a-ad24-6dc3f2566ea0"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "hava"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.text.split(' ')[0] }}",
                    "rightValue": "/özet",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "c07385a9-3cc4-4227-b460-7536f58472bb"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "ozet"
            }
          ]
        },
        "options": {}
      },
      "id": "da3546e3-5c33-46ba-ad54-3b5e2d1e2609",
      "name": "Switch (Komut)",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        208,
        -80
      ]
    },
    {
      "parameters": {
        "url": "https://api.open-meteo.com/v1/forecast?latitude=38.4237&longitude=27.1428&current=temperature_2m,weathercode,windspeed_10m&timezone=Europe%2FIstanbul",
        "options": {}
      },
      "id": "5021e6b8-bffd-4c63-9711-1bb18a4e6671",
      "name": "Open-Meteo (/hava)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        464,
        -192
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "=İzmir Hava Durumu\n\nSıcaklık: {{ $json.current.temperature_2m }}°C\nRüzgar: {{ $json.current.windspeed_10m }} km/s",
        "additionalFields": {}
      },
      "id": "1c5bfdd1-99e5-4ebc-b76e-e9065712af73",
      "name": "Send /hava Cevap",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        736,
        -192
      ],
      "webhookId": "53c3f2bc-5e8c-4a58-b3e7-be786931a000",
      "credentials": {
        "telegramApi": {
          "id": "7unmv3lw0DosvVAg",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://api.open-meteo.com/v1/forecast?latitude=38.4237&longitude=27.1428&current=temperature_2m,weathercode,windspeed_10m&timezone=Europe%2FIstanbul",
        "options": {}
      },
      "id": "c5016d73-8e59-4884-b034-5b4961827722",
      "name": "Open-Meteo (/özet)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        464,
        48
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=İzmir hava verisini doğal dille kısa bir özetle (2-3 cümle).\nVeri: Sıcaklık {{ $json.current.temperature_2m }}°C, Rüzgar {{ $json.current.windspeed_10m }} km/s.\nTürkçe yaz, samimi ton, dışarı çıkacaklara giysi önerisi de ekle.",
        "options": {}
      },
      "id": "9b46729a-753d-4fba-8e88-5a7061a2c749",
      "name": "AI Agent (Gemini)",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        736,
        48
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "ef5c9da0-5d69-4fef-b8a1-56ce3b52c154",
      "name": "Google Gemini Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        736,
        240
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "NSsaF7HSQNGL4TOu",
          "name": "n8n-workshop"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "id": "b9c585a3-1aa8-4d02-85bc-1a9bec73271c",
      "name": "Send /özet Cevap",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        1264,
        48
      ],
      "webhookId": "25fa052d-aafa-4d0f-b3d4-dcb3945ea1e3",
      "credentials": {
        "telegramApi": {
          "id": "7unmv3lw0DosvVAg",
          "name": "Telegram account"
        }
      }
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Switch (Komut)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch (Komut)": {
      "main": [
        [
          {
            "node": "Open-Meteo (/hava)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Open-Meteo (/özet)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Open-Meteo (/hava)": {
      "main": [
        [
          {
            "node": "Send /hava Cevap",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Open-Meteo (/özet)": {
      "main": [
        [
          {
            "node": "AI Agent (Gemini)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent (Gemini)": {
      "main": [
        [
          {
            "node": "Send /özet Cevap",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent (Gemini)",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ae83a3ddec8f2c3c51c2bd78ad85a0d764d724a0de2383225c79461e78ffe200"
  }
}